<!DOCTYPE html>
<html>
<head>
    <title>UMass Amherst - Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- need to specify the route more clearly since we are accessing this file from the root directory -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}"/>
</head>

<body>

<div class="container-fluid text-center top-container">
    <!-- need to specify the route more clearly since we are accessing this file from the root directory -->
    <img src= "{{ url_for('static', filename = 'images/uma-logo.png') }}" width = "150" height = "130">
</div>

<div class="container">

    {% include "includes/nav.html" %}

    {% block content %}

    {% endblock %}

</div>
    {% include "includes/footer.html" %}
</body>
</html>